#dokumentation {
  background-image: url(assets/background.png);
  background-size: 100%;
}

.dokumentationtriangle {
  background-color: transparent;
}

.lilla {
  width: 100%;
  color: var(--french-rose);
  font-size: 30pt;
}

#grafic3 {
  display: flex;
  position: relative;
  left: 30%;
  width: 40%;
  padding-bottom: 1rem;
  border: none;
}

#grafic2 {
  display: flex;
  position: relative;
  left: 30%;
  width: 40%;
  padding-bottom: 1rem;
  border: none;
}

#dokcenter {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  padding-top: 50px;
  padding-bottom: 50px;
}
#dokcenter2 {
  padding-top: 50px;
  height: fit-content;
}
#doksisdt {
  padding-bottom: 50px;
  height: fit-content;
}
.grafic3 {
   display: none;
  }

@media screen and (min-width: 750px) {
  #grafic3 {
    display: none;
  }

  .grafic3 {
    display: block;
    position: relative;
    width: 15%;
    top: 20%;
    left: 35%;
  }
}
