/*************************************** COLOR SCHEME */
:root {
  --dark-purple: hsla(258, 80%, 10%, 1);
  --russian-violet: hsla(265, 85%, 18%, 1);
  --persian-indigo: hsla(268, 88%, 26%, 1);
  --patriarch: hsla(289, 71%, 29%, 1);
  --violet-crayola: hsla(312, 64%, 37%, 1);
  --magenta-dye: hsla(326, 62%, 48%, 1);
  --french-rose: hsla(336, 89%, 59%, 1);
  --dark-salmon: hsla(14, 93%, 71%, 1);
  --yellow-orange: hsla(34, 97%, 69%, 1);
  --minion-yellow: hsla(50, 100%, 67%, 1);
  --gold-metallic: hsla(43, 62%, 56%, 1);
  --satin-sheen-gold: hsla(44, 45%, 53%, 1);
  --middle-blue: hsla(187, 55%, 58%, 1);
  --cadet-blue: hsla(183, 54%, 43%, 1);
}

/*************************************** COLOR SCHEME END */

/* STYLE */

/* FONTS */
@font-face {
  font-family: abel;
  src: url(fonts/abel.woff2);
}

@font-face {
  font-family: limelight;
  src: url(fonts/limelight.woff2);
}

@font-face {
  font-family: poiret_one;
  src: url(fonts/poiretone.woff2);
}

/* FONTS END */

/* COMMON CSS */

h1 {
  font-size: 44pt;
  font-family: poiret_one;
  color: var(--dark-salmon);
  /* line-height: 42px; */
  font-weight: normal;
  font-style: normal;
}

.number {
  font-size: 210pt;
  color: var(--minion-yellow);
  font-family: poiret_one;
  /* line-height: 42px; */
  font-weight: normal;
  font-style: normal;
}

.me {
  font-size: 150pt;
}

h2 {
  font-size: 28pt;
  font-family: poiret_one;
  text-transform: uppercase;
  color: var(--magenta-dye);
  line-height: 23px;
  font-weight: normal;
}

.even {
  font-family: abel;
  font-size: 20pt;
  margin-bottom: 0.5em;
  max-width: 100ch;
  color: var(--cadet-blue);
}

.even em {
  color: var(--minion-yellow);
  text-decoration: none;
}

.odd {
  font-family: abel;
  font-size: 20pt;
  margin-bottom: 0.5em;
  max-width: 100ch;
  color: var(--minion-yellow);
}

.odd em {
  color: var(--cadet-blue);
}

.emma {
  font-family: limelight;
  color: var(--minion-yellow);
}

figcaption {
  font-size: 15pt;
  margin-top: -16px;
  margin-bottom: 18px;
  max-width: 60ch;
  color: var(--dark-purple);
}

a {
  font-size: 20pt;
  font-family: abel;
  color: var(--dark-salmon);
  text-transform: uppercase;
  text-decoration: underline;
}

a :hover {
  font-family: abel;
  color: var(--yellow-orange);
  text-transform: uppercase;
  text-decoration: underline;
}

.em {
  font-family: limelight;
  font-size: 22pt;
  color: var(--yellow-orange);
}

article {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

main p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

hr {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: var(--gold-metallic);
  border-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.triangle_down {
  background-color: var(--dark-purple);
  height: fit-content;
  /* z-index: -1; */
  /* height: 400px; */
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
  /* to make responsive change padding top and bottom for different media sizes */
  padding-top: 10%;
  padding-bottom: 40%;
}

.triangle_up {
  background-color: var(--dark-purple);
  z-index: -1;
  /* height: fit-content; */
  height: 300px;
  position: relative;
  clip-path: polygon(100% 100%, 100% 100%, 0% 100%, 0% 100%, 50% 0);
}

body {
  background-color: var(--russian-violet);
}

p {
  font-family: abel;
  color: var(--minion-yellow);
}

img {
  width: 100%;
  border-style: ridge;
  border-width: medium;
  border-top: var(--satin-sheen-gold);
  border-left: var(--satin-sheen-gold);
  border-bottom: var(--gold-metallic);
  border-right: var(--gold-metallic);
}

.about {
  top: -38%;
  left: -10%;
}

/* index */

.index_article {
  height: 450px;
  display: flex;
  flex-direction: column;
}

.index_link {
  font-family: poiret_one;
  text-transform: capitalize;
  font-size: 40pt;
  font-weight: 300;
  position: relative;
  top: -55%;
  left: 10%;
}

article h1,
article a {
  align-self: center;
}

/* index */

/* MOBILE */

@media screen and (max-width: 750px) {
  header {
    background-color: var(--persian-indigo);
    padding-left: 2rem;
  }

  .dropbtn {
    display: none;
  }

  .dropdown-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  footer {
    background-color: var(--violet-crayola);
    display: flex;
    flex-direction: column;
  }

  footer div,
  footer a {
    align-self: center;
  }

  .bottom_separator {
    background-image: url(assets/separator1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 41/10;
    width: 100%;
    height: 2rem;
    position: relative;
    top: -16px;
    z-index: 15;
  }

  .top_separator {
    background-image: url(assets/separator2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 150/50;
    width: 100%;
    height: 3rem;
    position: relative;
    top: 24px;
    left: -15px;
    z-index: 15;
  }

  header img {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    aspect-ratio: 230/135;
    width: 70%;
  }

  #burger_closed {
    background-image: url(assets/menu_icon.svg);
    aspect-ratio: 16/14;
    background-size: 100%;
    width: 25px;
    transition: transform 0.2s;
  }

  #burger_opened {
    background-image: url(assets/close.svg);
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: none;
    transition: transform 0.2s;
  }

  #hamburger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 25;
    border: none;
    background-color: transparent;
  }

  .burger_menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 20;
    background-color: var(--persian-indigo);
    color: var(--dark-salmon);
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  nav li {
    align-self: center;
  }

  nav li img {
    aspect-ratio: 260/70;
  }

  .showMenu {
    transform: translateY(0%);
  }

  #logo_mobile {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
  }

  #logo_desktop {
    display: none;
  }

  /* COMMON END */

  /* index */

  .grafic_1 {
    z-index: 10;
    aspect-ratio: 200/130;
    width: 70%;
    overflow: hidden;
    position: fixed;
    top: 51%;
    left: 15%;
  }
}

/* INDEX END */

/* MOBILE END*/

/* RESPONSIVE */

/* TABLET */

/* @media screen and  and (min-width: 750px) and (max-width: 1023px)  {
} */

/* TABLET END */

/* DESKTOP */

@media screen and (min-width: 750px) {
  h3 {
    font-size: 22px;
    font-family: poiret_one;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-top: 1em;
    font-weight: normal;
    color: var(--magenta-dye);
  }

  #headerid {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 2rem;
  }

  ul {
    list-style: none;
    display: flex;
  }

  nav li img {
    display: none;
  }

  nav a {
    font-size: 25px;
  }

  nav hr {
    display: none;
  }

  #logo_mobile {
    display: none;
  }

  #logo_desktop {
    display: block;
    width: 50%;
  }

  .burger_menu {
    padding-top: 2.5rem;
    gap: 10px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: abel;
    text-decoration: underline;
    color: var(--dark-salmon);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--patriarch);
    box-shadow: 2px 8px 16px 0px var(--gold-metallic);
    z-index: 1000;
  }

  .dropdown-content li {
    float: none;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content ul {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content a:hover {
    color: var(--yellow-orange);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  li.mmd {
    display: block;
  }

  #hamburger {
    display: none;
  }

  .bottom_separator {
    background-image: url(assets/separator1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 41/10;
    width: 100%;
    height: 2rem;
    position: relative;
    top: -25px;
    z-index: 200;
  }

  .top_separator {
    background-image: url(assets/separator2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 150/50;
    width: 100%;
    height: 3.5rem;
    position: relative;
    top: 27px;
    z-index: 200;
  }

  .grafic_1 {
    z-index: 10;
    aspect-ratio: 200/130;
    width: 40%;
    overflow: hidden;
    position: fixed;
    top: 20%;
    left: 30%;
  }

  .index_article {
    height: 450px;
    display: block;
    justify-items: left;
    padding-left: 10%;
  }

  .droite {
    height: 450px;
    display: block;
    justify-items: right;
    padding-left: 70%;
  }

  #one {
    padding-left: 10%;
    z-index: -1;
  }

  footer {
    background-color: var(--violet-crayola);
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
  footer p {
    font-size: 20pt;
  }

  .bottom_separator {
    background-image: url(assets/separator1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 41/10;
    width: 100%;
    height: 4rem;
    position: relative;
    top: -81px;
  }
}

/* DESKTOP END */

/* RESPONSIVE END*/

/* STYLE END */
