@keyframes galleri_1 {
  0% {
    background-image: url(content/tema_2/img1.png);
  }
  25% {
    background-image: url(content/tema_2/img2.png);
  }
  50% {
    background-image: url(content/tema_2/img3.png);
  }
  75% {
    background-image: url(content/tema_2/img4.png);
  }
  100% {
    background-image: url(content/tema_2/img1.png);
  }
}

h2 {
  padding-left: 1rem;
  font-size: 21.5pt;
}

#desktop_intro {
  display: none;
}

.border1 {
  display: none;
}
.border2 {
  display: none;
}
.border3 {
  display: none;
}
.border4 {
  display: none;
}

#arrow1 {
  top: 300%;
  left: 40%;
  width: 30%;
  height: 30%;
}

#arrow2 {
  width: 30%;
  height: 30%;
  top: 425%;
  left: 38%;
}

#arrow3 {
  width: 100%;
  height: 100%;
  top: 40%;
  left: 38%;
}

#mobile_galleri {
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

#mobile_galleri figure {
  width: 90%;
  padding-left: 1rem;
}

#mobile_galleri img {
  border-style: ridge;
  border-width: 2px;
  border-top-color: var(--satin-sheen-gold);
  border-left-color: var(--satin-sheen-gold);
  border-bottom-color: var(--gold-metallic);
  border-right-color: var(--gold-metallic);
}
#mobile_galleri1 {
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

#mobile_galleri1 figure {
  width: 90%;
  padding-left: 1rem;
}

#mobile_galleri1 img {
  border-style: ridge;
  border-width: 2px;
  border-top-color: var(--satin-sheen-gold);
  border-left-color: var(--satin-sheen-gold);
  border-bottom-color: var(--gold-metallic);
  border-right-color: var(--gold-metallic);
}
#mobile_galleri2 {
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

#mobile_galleri2 figure {
  width: 90%;
  padding-left: 1rem;
}

#mobile_galleri2 img {
  border-style: ridge;
  border-width: 2px;
  border-top-color: var(--satin-sheen-gold);
  border-left-color: var(--satin-sheen-gold);
  border-bottom-color: var(--gold-metallic);
  border-right-color: var(--gold-metallic);
}
#mobile_galleri3 {
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}

#mobile_galleri3 figure {
  width: 90%;
  padding-left: 1rem;
}

#mobile_galleri3 img {
  border-style: ridge;
  border-width: 2px;
  border-top-color: var(--satin-sheen-gold);
  border-left-color: var(--satin-sheen-gold);
  border-bottom-color: var(--gold-metallic);
  border-right-color: var(--gold-metallic);
}

#img_galleri1 {
  display: none;
}
#img_galleri2 {
  display: none;
}
#img_galleri3 {
  display: none;
}

#tema_2 {
  padding-bottom: 400px;
}

@media screen and (min-width: 750px) {
  #tema1 {
    display: flex;
    align-content: center;
    padding: 0;
    padding-left: 0;
    padding-top: 5rem;
  }

  .index_link {
    left: 0;
  }

  #one {
    padding-left: 0;
  }

  #two {
    padding-left: 8rem;
  }

  .text {
    width: 30ch;
  }

  h2 {
    padding-left: 3rem;
  }

  #tema_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  #tema_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #first_tema {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    max-width: 30ch;
  }

  .to_left {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    max-width: 30ch;
  }

  #arrow1 {
    top: 230%;
    left: 47%;
    width: 30%;
    height: 30%;
  }

  #arrow2 {
    justify-content: center;
    width: 30%;
    height: 30%;
    left: 46%;
    top: 290%;
  }

  .arrow_galleri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
  }

  .linkmobile {
    margin-top: 40%;
    padding-left: 0;
    font-size: 15pt;
  }

  #youtube1 {
    height: fit-content;
    padding-bottom: 200px;
    /* padding-top: 200px; */
  }

  #youtubevideo_1 {
    display: none;
    z-index: 1;
  }

  #desktop_intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20%;
    margin-top: 20%;
  }

  iframe {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .border1 {
    display: block;
    position: absolute;
    transform: rotate(180deg);
    left: 40%;
    top: 280%;
    width: 40%;
  }

  .border2 {
    display: block;
    position: absolute;
    left: 15%;
    top: 410%;
    width: 40%;
  }

  .border3 {
    display: block;
    position: absolute;
    transform: rotate(90deg);
    left: 47%;
    top: 530%;
    width: 40%;
  }

  .border4 {
    display: block;
    position: absolute;
    left: 10%;
    top: 700%;
    width: 40%;
  }

  #galleritema2_wrapper {
    height: fit-content;
    /* background-color: var(--russian-violet); */
  }

  .link_small {
    font-size: 15pt;
  }

  #mobile_galleri1,
  #mobile_galleri2,
  #mobile_galleri3,
  #galleri_link {
    display: none;
  }

  #desktop_galleri {
    display: grid;
    animation-name: galleri_1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 70%;
    background-size: contain;
    border-style: ridge;
    border-width: 15px;
    border-top-color: var(--satin-sheen-gold);
    border-left-color: var(--satin-sheen-gold);
    border-bottom-color: var(--gold-metallic);
    border-right-color: var(--gold-metallic);
  }

  #desktop_galleri:hover {
    animation-play-state: paused;
  }

  #galleri_padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25%;
  }

  #arrow_system1 img,
  #arrow_system2 img,
  #arrow_system3 img {
    width: 10%;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  #arrow_system1,
  #arrow_system2,
  #arrow_system3 {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
  }

  #img_galleri1,
  #img_galleri2,
  #img_galleri3 {
    display: block;
    padding-bottom: 0;
  }
}
