h2 {
  display: inline-flex;
  line-height: 25pt;
  font-size: 21.5pt;
  align-content: space-around;
}


@media screen and (min-width: 750px) {

#tema1 {
    display: flex;
    align-content: center;
    padding: 0;
    padding-left: 0;
}

}